[general]
import = [
  "./github_dark_default.toml"
]

[font]
size = {{ .alacritty.font_size }}

[font.normal]
family = "JetBrainsMono NF"
style = "Regular"

[mouse]
hide_when_typing = true

[window]
opacity = 1

[window.padding]
x = 5
y = 5
